*~
*.swp
*.orig
*.o
animenu
*Makefile.in
*Makefile
Makefile.include
configure
configure.in
config.log
config.status
config.cache
*.deps/
depcomp
aclocal.m4
autom4te.cache/
install-sh
missing
mkinstalldirs
